In [2]:
'''python test by sir mooazam
name=syed ghazi haider
course= IOT sec B'''

'python test by sir mooazam\nname=syed ghazi haider\ncourse= IOT sec B'

In [38]:
#largest number
heights = [100, 2, 300, 10, 11, 1000]
largest_number = heights[0]
for number in heights:
    if number > largest_number:
        largest_number = number
print(largest_number)

1000

In [39]:
 #question 1
 '''Python program to print all odd numbers in a list'''
O_list = [1,2,3,4,5,6,7,8,9]
odd = [num for num in O_list if num % 2 != 0]
print("odd numbers is : ", odd)

odd numbers is :  [1, 3, 5, 7, 9]

In [8]:
#question 2
 """Python program to find the sum of list element"""
numlist = ['1','0','47','44','11','54','28','69','45']
plus=0
for i in numlist:
    plus+=int(i)
print('Sum of List: ',plus)

Sum of List:  299

In [10]:
#question 3
 """Python program to reverse a list in two ways"""
Cars = ['Toyota','Kia','Hundai','Suzuki']
reverse = Cars[::-1]
print(reverse)

['Suzuki', 'Hundai', 'Kia', 'Toyota']

In [13]:
 #question 4
 """Python program to write 2nd largst num
 """
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Second largest element is:",a[n-2])

Enter number of elements:10
Enter element:20
Enter element:30
Enter element:40
Enter element:50
Enter element:60
Enter element:70
Enter element:80
Enter element:90
Enter element:10
Enter element:110
Second largest element is: 90

In [19]:
#question 6
list1=['mooazam' , 'ghazi' ,' mohsin' , 'abdan']
list1.sort()
print(list1)

[' mohsin', 'abdan', 'ghazi', 'mooazam']

In [27]:
#question 7
string="ghaziorghazi"
p=""
for i in string:
	if i not in p:
		p=p+i
print(p)

ghazior

In [33]:
#question 8
charac = input("Enter a character: ")

if(charac=='A' or charac =='a' or charac =='E' or charac =='e' or charac =='I'
 or charac =='i' or charac =='O' or charac =='o' or charac =='U' or charac =='u'):
    print(charac, "is a Vowel")
else:
    print(charac, "is a Consonant")

Enter a character: a
a is a Vowel

In [36]:
#question 9
# Python program to find the factorial of a number provided by the user.


num = int(input("Enter a number: "))

factorial = 1

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 5
The factorial of 5 is 120

In [37]:
#question 10
"""program which merge two list"""
list1 = ["elephant", "bheme" , "Mr bean"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['elephant', 'bheme', 'Mr bean', 1, 2, 3]